name: learning-board
services:
  learning-board:
    container_name: learning-board
    build:
      context: .
      dockerfile: Dockerfile
    image: learning-board:latest
    ports:
      - "9080:80"
    restart: unless-stopped

x-casaos:
  author: self
  category: self
  icon: "https://cdn-icons-png.flaticon.com/512/9240/9240330.png"
  index: /
  is_uncontrolled: false
  port_map: "9080"
  scheme: http
  title:
    custom: Learning Board
