:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --zuccini-50: #eefff5;
  --zuccini-100: #d8ffec;
  --zuccini-200: #b4fed9;
  --zuccini-300: #79fcbb;
  --zuccini-400: #38f096;
  --zuccini-500: #0ed977;
  --zuccini-600: #05b45f;
  --zuccini-700: #088d4d;
  --zuccini-800: #0c6f40;
  --zuccini-900: #0c5b37;
  --zuccini-950: #004225;

  --bright-gray-50: #f5f7fa;
  --bright-gray-100: #ebeef3;
  --bright-gray-200: #d2dae5;
  --bright-gray-300: #aab9cf;
  --bright-gray-400: #7c94b4;
  --bright-gray-500: #5c769b;
  --bright-gray-600: #485f81;
  --bright-gray-700: #3b4d69;
  --bright-gray-800: #344258;
  --bright-gray-900: #2d3748;
  --bright-gray-950: #1f2532;
}

/* LIGHT MODE */
:root[data-theme='light'] {

  --color-background: var(--bright-gray-100);             
  --color-surface: #ffffff;
  --color-surface-muted: var(--bright-gray-200);          

  --color-text-primary: var(--bright-gray-900);           
  --color-text-secondary: var(--bright-gray-600);         
  --color-text-muted: var(--bright-gray-400);             

  --color-primary: var(--zuccini-500);                    
  --color-primary-hover: var(--zuccini-600);              
  --color-primary-soft: var(--zuccini-300);               
  --color-primary-border: var(--zuccini-400);             

  --color-border: var(--bright-gray-200);                 
  --border-radius: 8px;
  --box-shadow-soft: 0 6px 18px rgba(0, 0, 0, 0.05);

  --scrollbar-color: var(--bright-gray-300);
}


/* DARK MODE */
:root[data-theme='dark'] {
  --color-background: var(--bright-gray-950);             
  --color-surface: var(--bright-gray-900);                
  --color-surface-muted: var(--bright-gray-800);          

  --color-text-primary: #ffffff;
  --color-text-secondary: var(--bright-gray-200);         
  --color-text-muted: var(--bright-gray-300);

  --color-primary: var(--zuccini-800);                    
  --color-primary-hover: var(--zuccini-600);              
  --color-primary-soft: var(--zuccini-900);               
  --color-primary-border: var(--zuccini-700);             

  --color-border: var(--bright-gray-700);                 
  --border-radius: 8px;
  --box-shadow-soft: 0 6px 18px rgba(0, 0, 0, 0.2);

  --scrollbar-color: var(--bright-gray-600);
}

/* =======================
   Global styles
   ======================= */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 5px;
  background-clip: content-box;
  border: 2px solid transparent;

  min-height: 100px;
  min-width: 100px;
}

#app {
    width: 100%;
    margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

main {
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.card {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-soft);
}


h1, h2, h3 {
  color: var(--color-text-primary);
}

/* =======================
   Buttons (global styles)
   ======================= */

.button {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid transparent;
  /* cursor: pointer; */
  transition: all 0.2s ease;
}

/* CTA (pl. Create, New question) */
.button.primary {
  background-color: var(--color-primary-soft);
  color: var(--color-text-primary);
}

.button.primary:hover {
  background-color: var(--color-primary-border);
}

/* Secondary (Validate) */
.button.secondary {
  background-color: var(--color-surface-muted);
  color: var(--color-text-secondary);
  border: 1px solid var(--color-border);
}

/* Natural (Cancel) */
.button.muted {
  background-color: var(--color-background);
  color: var(--color-text-muted);
  border: 1px solid var(--color-surface-muted);
}


